* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --white: #fff;
    --main1: #081624;
    --main2: #5b2cf1;
    --text1: #ffffffc0;
    --border:#293646;
    --headerHeight: 6rem;
}

li {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main1);
}

header {
    height: var(--headerHeight);
    border-bottom: .1rem solid var(--border);
    background-color: var(--main1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#headerContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
}

#navTrigger {
    margin-right: 1.4rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem 0;
    transition: .3s;
}

.barNav {
    display: block;
    width: 2rem;
    height: .2rem;
    border-radius: 5rem;
    background-color: var(--white);
}

#logo {
    height: 3.4rem;
}

#logo svg {
    width: 100%;
    height: 100%;
    fill: var(--main2);
}

#optionHeader {
    margin-left: auto;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

#sacarOption {
    cursor: pointer;
    padding: 1rem 1.2rem;
}

#depositarOption {
    background-color: var(--main2);
    padding: 1rem 1.4rem;
    border-radius: .4rem;
    margin-left: 1rem;
    cursor: pointer;
}

nav {
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    background-color: var(--main1);
    border-right: .1rem solid var(--border);
    padding: 2.6rem 0 0 0;
    position: fixed;
    top: var(--headerHeight);
    left: 0;
    translate: -100%;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
    transition: translate .3s ease-in-out;
}

nav:hover {
    overflow-y: auto;
}

nav::-webkit-scrollbar {
    width: .6rem;
    background-color: #0b1927;
}

nav::-webkit-scrollbar-thumb {
    background-color: #0d1f31;
}

.navChild {
    border-bottom: .1rem solid var(--border);
    padding: 0 0 2.2rem 0;
    width: 90%;
    margin: 0 auto;
}

.h2Nav {
    display: flex;
    align-items: center;
    gap: 0 2rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .05rem;
    cursor: pointer;
    user-select: none;
    border-left: .2rem solid var(--white);
    padding-left: 1rem;
}

.h2Nav svg {
    height: 1.1rem;
    fill: var(--white);
}

.ulNav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    margin-top: 1.4rem;
    margin-left: 1.4rem;
    overflow: hidden;
}

.ulNav:nth-child(1) {
    margin: 0;
}

.navOptionAnc {
    padding: 0;
    border: .16rem solid var(--border);
    border-radius: .4rem;
    padding: 1rem 1rem;
    transition: .3s;
    font-weight: 600 !important;
}

.navOptionAnc svg path {
    transition: .3s;
}

.navOptionAnc:hover {
    background-color: var(--border);
    color: var(--white);
}
.navOptionAnc:hover svg path:not(:nth-child(n+3)) {
    fill: var(--white);
}

.navOption {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text1);
    text-decoration: none;
    transition: .3s;
}

.navOption:hover {
    color: var(--white);
}

.navOption svg {
    height: 2rem;
    width: 2.4rem;
    fill: #23375a;
    margin-right: 1.4rem;
}

main {
    padding: 2.5rem;
    margin-top: var(--headerHeight);
}

#mainContent {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
}

#banner {
    background: linear-gradient(135deg, #5b2cf1, #022547);
    padding: 2.2rem;
    border-radius: 1.4rem .1rem 1.4rem .1rem;
}

#banner img {
    display: block;
    width: 100%;
    height: 100%;
    height: 28rem;
    object-fit: cover;
    border-radius: .4rem;
}

#h1BannerBonus {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 2.8rem;
    color: var(--white);
}

#h2BannerBonus {
    margin-top: 1.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
}

#depositarBannerBonus {
    margin: 3rem 0 0 auto;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    box-shadow: 0 0 1rem #0000004b;
    height: 5rem;
    width: 55%;
    border-radius: .4rem;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomeCategoria {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0 2rem;
}

.nomeCategoria h2 {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 700;
}

.setaCategoria {
    user-select: none;
}

.setaCategoria svg {
    fill: var(--text1);
    width: .8rem;
    cursor: pointer;
}

.setaCategoriaLeft {
    rotate: 180deg;
}

.setaCategoriaRight {
    margin-left: 1.2rem;
}

.categoriaContainer {
    position: relative;
}

.categoriaContainer::after {
    content: "";
    width: 6rem;
    height: 100%;
    background: linear-gradient(-90deg, var(--main1) 10%, #081624c4 60%, transparent);
    position: absolute;
    right: 0;
    bottom: 0;
}

.subCategoriaContainer {
    display: flex;
    gap: 0 1rem;
    overflow-x: auto;
}

.subCategoriaContainer::-webkit-scrollbar {
    display: none;
}

.jogo {
    position: relative;
    cursor: pointer;
}

.jogo img {
    width: 13rem;
    height: 17rem;
    border-radius: .4rem;
    display: block;
}

.nomeJogo {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--white);
    width: 100%;
    padding: 0 .75rem 1.2rem .75rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

#categoriaTodosJogos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

#categoriaTodosJogos::after {
    content: none;
}

#categoriaTodosJogos>.jogo img {
    width: 100%;
    height: auto;
}

footer {
    padding: 4rem 2rem 0 2rem;
    background-color: #0f1a25;
}

#linksFooter {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-bottom: .1rem solid var(--border);
    padding-bottom: 2rem;
}

#linksFooter a {
    text-decoration: none;
    color: var(--text1);
    font-size: 1.1rem;
    font-weight: 500;
    border-left: .2rem solid var(--border);
    padding-left: 1rem;
}

#celos {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    border-bottom: .1rem solid var(--border);
}

#celos svg {
    height: 3.2rem;
    width: auto;
}

#normas {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    border-bottom: .1rem solid var(--border);
}

#normas p {
    color: var(--text1);
    font-size: 1rem;
    font-weight: 500;
}

#suporteCopy {
    padding: 3rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#suporteCopy p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text1);
}

#suporteCopy h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text1);
}