@media (min-width: 600px) {
    :root {
        --headerHeight: 7rem;
        --gapGame: 1.6rem;
    }

    #navTrigger {
        margin-right: 1.8rem;
    }

    #logo {
        height: 3.7rem;
    }

    #optionHeader {
        font-size: 1.3rem;
    }

    #depositarOption {
        margin-left: 1.2rem;
    }

    header {
        height: var(--headerHeight);
    }

    #h1BannerBonus {
        font-size: 2.4rem;
    }

    #h2BannerBonus {
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    #depositarBannerBonus {
        margin-top: 4rem;
        font-size: 1.4rem;
        letter-spacing: .3rem;
        width: 25rem;
    }

    .jogo img {
        width: 16rem;
        height: 20rem;
    }

    #categoriaTodosJogos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 992px) {
    #headerContent {
        padding: 0 2rem;
    }

    #banner {
        padding: 3rem;
    }

    #depositarBannerBonus {
        margin-top: 6rem;
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        width: 31rem;
        font-weight: 700;
    }

    #categoriaTodosJogos {
        grid-template-columns: repeat(5, 1fr);
        gap: 3.2rem var(--gapGame);
    }

    footer {
        padding: 6rem 3rem 0 3rem;
    }

    #linksFooter {
        gap: 0 4rem;
        padding-bottom: 3rem;
    }

    #linksFooter a {
        font-size: 1.2rem;
    }

    #celos {
        padding: 5rem 0;
    }

    #celos svg {
        height: 3.6rem;
    }

    #normas {
        padding: 5rem 2rem;
    }

    #normas p {
        font-size: 1.15rem;
    }

    #suporteCopy {
        padding: 5rem 0 7rem 0;
    }

    #suporteCopy p {
        font-size: 1.15rem;
    }

    #suporteCopy h3 {
        font-size: 1.15rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --gapGame: 2.4rem;
    }

    body {
        display: grid;
        width: 80vw;
        grid-template-areas:
            "nav main"
            "footer footer"
        ;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    #categoriaTodosJogos {
        grid-template-columns: repeat(6, 1fr);
        gap: 3.6rem var(--gapGame);
    }

    footer {
        grid-area: footer;
    }
}