@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: white url(../img/back.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    position: fixed;
    width: 100vw;
    padding: 12px;
    background-color: white;
}

nav ul {
    display: flex;
    column-gap: 60px;
    justify-content: center;
}

nav ul li a {
    font-size: 0.65em;
    padding: 6%;
    color: black;
    font-family: 'Silkscreen', cursive;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: rgba(128, 128, 128, 0.150);
    transition: 0.3s;
    border-radius: 2px;
}

/* | - | - | - | - | - | - | - | - | */

main {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.divcontain-conteudo-option {
    width: 240px;
    height: 350px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
}
/* | - | - | - | - | - | */
.div-h2 {
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 12%;
    padding: 2%;
    text-align: center;
}

.div-h2 h2 {
    font-size: 2em;
    color: black;
}
/* | - | - | - | - | - | */
.div-img {
    background-color: rgba(128, 128, 128, 0.267);
    width: 100%;
    height: 58%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img img {
    width: 75%;
    border: 2px solid white;
}
/* | - | - | - | - | - | */
.container-div-p {
    width: 100%;
    height: 30%;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.div-pvalor {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed black;
}

.div-pvalor p {
    color: black;
    width: 100%;
    font-size: 1.9em;
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

.div-pcode {
    width: 0%;
    height: 0%;
    position: absolute;
    left: -9999px;
}

.div-button {
    width: 100%;
    height: 50%;
}

.copyButton {
    color: black;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    font-family: 'Silkscreen', cursive;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: 0.3s;
}

.copyButton:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.150);
    transition: 0.3s;
}