/* FONTES DA PÁGINA | FONTES DA PÁGINA | FONTES DA PÁGINA | FONTES DA PÁGINA | FONTES DA PÁGINA */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* ESTILIZAÇÃO BÁSICA | ESTILIZAÇÃO BÁSICA | ESTILIZAÇÃO BÁSICA | ESTILIZAÇÃO BÁSICA | ESTILIZAÇÃO BÁSICA */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}

/* BARRA DE ROLAGEM DA TELA (LATERAL) | PÁGINA DE COINS | PÁGINA DE COINS | PÁGINA DE COINS | PÁGINA DE COINS */

::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #555555;
}

::-webkit-scrollbar-thumb {
    width: 0.3vw;
    background-color: #252525;
}

/* BARRA DE PESQUISA | BARRA DE PESQUISA | BARRA DE PESQUISA | BARRA DE PESQUISA | BARRA DE PESQUISA */

.div-search {
    height: 5.7vh;
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    z-index: 1;
}

.div-search input {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 100%;
    display: flex;
    width: 32.1%;
    height: 59%;
    outline: 0;
}

.div-search input::placeholder {
    padding: 5px;
}

/* BANNER E LOGO HOUSE | BANNER E LOGO HOUSE | BANNER E LOGO HOUSE | BANNER E LOGO HOUSE | BANNER E LOGO HOUSE */

header {
    background-color: #0F0F0F;;
    height: 30.5vh;
    display: flex;
    position: relative;
    justify-content: center;
}

.div-img {
    position: absolute;
    height: 100%;
    /* margin-top: 2.9%; */
}

.img-banner {
    border-top: 1px solid #212121;
    height: 30.5vh;
    width: 196vh;
    object-fit: none;
    z-index: 0;
}

.img-logo {
    height: 75%;
    object-position: 0vw 4vh;
    transition: 0.5s;
}

.img-logo:hover {
    height: 90%;
    object-position: 0vw 2vh;
    transition: 0.5s;
}

/* BARRA DE NAVEGAÇÃO | BARRA DE NAVEGAÇÃO | BARRA DE NAVEGAÇÃO | BARRA DE NAVEGAÇÃO | BARRA DE NAVEGAÇÃO */

nav {
    /* margin-top: 2.9%; */
    background-color: #181818;
    color: #A9A9A9;
    border-bottom: 1px solid #212121;
    height: 4.89vh;
    font-size: 1.79vh;
    font-weight: 600;
    font-family: Quicksand;
}

.nav-ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    list-style: none;
}

.nav-ul li a {
    color: #A9A9A9;
    text-decoration: none;
}

.nav-ul li {
    display: flex;
    align-items: center;
    height: 109%;
    margin-right: -21px;
}

.nav-ul li:nth-child(5) {
    transition: 0.5s;
    border-bottom: 2px solid #42a5f5;
}

.fa, .fas {
    margin-right: 5px;
}

/* PÁGINA DAS MANSÕES | PÁGINA DAS MANSÕES | PÁGINA DAS MANSÕES | PÁGINA DAS MANSÕES | PÁGINA DAS MANSÕES */

main {
    background-color: #0F0F0F;
    color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand;
}

.container-products {
    margin-top: 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92.5%;
    row-gap: 3.25vh;
}

.section-products {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paragrafo-product {
    text-align: center;
    font-size: 2.66vh;
    font-weight: 700;
    padding: 6%;
}

.img-product {
    width: 16.035vw;
    height: 18.505vh;
}

.div-btn {
    display: flex;
    margin-top: 2.3%;
}

.btn {
    color: white;
    font-size: 1.67vh;
    font-weight: 400;
    font-family: Quicksand;
    height: 5.5vh;
    width: 10.93vw;
    background-color: #0277bd;
    transition: 0.2s;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:hover {
    background-color: #04549c;
    transition: 0.2s;
    cursor: pointer;
}

.btn2 {
    color: white;
    font-size: 1.67vh;
    font-weight: 400;
    font-family: Quicksand;
    height: 5.5vh;
    width: 10.93vw;
    background-color: #2e7d32;
    transition: 0.2s;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn2:hover {
    background-color: #1c5c1c;
    transition: 0.2s;
    cursor: pointer;
}