@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: white;
    --black: black;
    --p1: #6A3ED4;
    --p2: #01040C;
    --p3: #030611;
    --borda: #070A1A;
    --texto1: #B9B9B9;
    --texto2: #DBE2FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--borda);
}

/* ----- HEADER -- HEADER -- HEADER ----- */

header {
    background-color: #040715;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header div#container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

div#container-header img {
    width: 3.5rem;
}

div#menu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

div#menu-trigger span {
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: var(--p1);
    border-radius: 3.2rem;
    margin: .4rem 0;
    transition: .3s;
}

div.animeMenu > span:nth-child(1) {
    transform-origin: center;
    margin: 0 0 !important;
    transform: translateY(.1rem) rotate(225deg);
} /*JS --- JS*/

div.animeMenu > span:nth-child(2) {
    margin: 0 0 !important;
    transform: translateY(-.1rem) rotate(-225deg);
    transform-origin: center;
} /*JS --- JS*/

ul#menu-options {
    width: 90%;
    display: flex;
    list-style: none;
    background-color: #040715;
    transition: .4s ease-in-out;
    border: .2rem solid var(--borda);
    border-radius: .8rem;
    
    position: absolute;
    top: calc(100% + 1rem);
}

ul.visible {
    left: 50%;
    transform: translateX(-50%);
} /*JS --- JS*/
ul.invisible {
    left: 100%;
} /*JS --- JS*/

ul#menu-options li {
    width: calc(100% / 4);
}

ul#menu-options li a {
    display: block;
    padding: 1.6rem 0;
    color: var(--white);
    text-decoration: none;
    font-size: 1.05rem;
    text-align: center;
    font-weight: 500;
    transition: .3s;

    position: relative;
}

ul#menu-options li a#active {
    font-weight: 700;
    overflow: hidden;
} /*JS --- JS*/

ul#menu-options li a#active::after {
    content: '';
    display: block;
    height: .15rem;
    width: 3.7rem;
    background-image: linear-gradient(90deg, transparent 1%, var(--p1));

    position: absolute;
    top: 70%;
    animation: animeActive 1s ease-in-out infinite;
} /*JS --- JS*/

@keyframes animeActive {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 4.5rem;
    }

    100% {
        width: .5rem;
        left: 100%;
    }
}

/* ----- MAIN -- MAIN -- MAIN ----- */

main {
    margin-top: 5rem;
}

/* ----- SECTION INÍCIO -- SECTION INÍCIO -- SECTION INÍCIO ----- */

main section > div {
    max-width: 128rem;
    margin: 0 auto;
}

section#inicio {
    background-color: var(--p2);
}

div#container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container-inicio > img {
    width: 25rem;
    margin-top: 1.4rem;
}

div#container-inicio > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

div#container-inicio div p {
    color: var(--texto1);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -.01rem;
    line-height: 140%;
    margin-top: 2.2rem;
    width: 26rem;
    text-align: center;
}

div#container-inicio div ul {
    display: flex;
    column-gap: 4.8rem;
    margin-top: 2.4rem;
}

div#container-inicio div ul li {
    
    list-style: none;
}

div#container-inicio div ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--p3);
    border: .2rem solid var(--borda);
    border-radius: .5rem;
}

div#container-inicio div ul li a svg {
    width: 2em;
    height: 2em;
    fill: var(--p1);
}

a#a-contatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.4rem;
    height: 3.8rem;
    margin: 1.7rem 0 2.5rem 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    background-color: var(--p2);
    border: .2rem solid var(--borda);
    border-radius: .5rem;
}

/* ----- SECTION QUALIDADES -- SECTION QUALIDADES -- SECTION QUALIDADES ----- */

section#qualidades {
    background-color: var(--p3);
}

div#container-qualidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container-qualidades h1 {
    color: var(--white);
    font-size: 3.3rem;
    align-self: flex-start;
    width: 28rem;
    margin: 2.2rem auto 3.6rem auto;

    position: relative;
}

div#container-qualidades h1::before {
    content: '';
    display: block;
    width: 3.9rem;
    height: .2rem;
    background-color: var(--p1);

    position: absolute;
    left: .2rem;
    bottom: -.3rem;
}

div#container-qualidades h1::after {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--p1);

    position: absolute;
    left: 4.3rem;
    bottom: -.4rem;
}

div.box-qualidade {
    width: 28rem;
    height: 20.8rem;
    background-color: var(--p2);
    border-radius: .5rem;
    border: .2rem solid var(--borda);
    padding: 2.3rem;
    margin-bottom: 4.2rem;
}

div.box-qualidade div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.box-qualidade div h2 {
    color: var(--white);
    font-size: 2.1rem;
}

div.box-qualidade div svg {
    width: 4.1rem;
}

div.box-qualidade h3 {
    color: var(--texto1);
    margin-top: 3rem;
    font-weight: 500;
    line-height: 140%;  
    font-size: 1.25rem;
}

/* ----- SECTION PROJETOS -- SECTION PROJETOS -- SECTION PROJETOS ----- */

section#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--p2);
    padding-bottom: 4rem;
}

div#container-projetos h1 {
    width: 28rem;
    margin: 2.2rem auto 3.6rem auto;
    font-size: 3.3rem;
    color: var(--white);

    position: relative;
}

div#container-projetos h1::before {
    content: '';
    display: block;
    width: 3.9rem;
    height: .2rem;
    background-color: var(--p1);

    position: absolute;
    left: .2rem;
    bottom: -.3rem;
}

div#container-projetos h1::after {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--p1);

    position: absolute;
    left: 4.3rem;
    bottom: -.4rem;
}

div#container-box-projetos {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

div.box-projeto {
    width: 28rem;
    background-color: var(--p3);
    border: .2rem solid var(--borda);
    border-radius: .5rem;
}

div.box-projeto h2 {
    color: var(--p1);
    font-size: 2.9rem;
    margin: 1.95rem 1.95rem 0 1.95rem;
}

div#slide-box {
    display: flex;
    width: 23.7rem;
    height: 17.2rem;
    margin: 1.4rem 1.95rem 0 1.95rem;
    overflow: hidden;
    border-radius: 1rem;

    position: relative;
}

div#slide-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

div#slide-control {
    display: flex;
    gap: 0 2.2rem;

    position: absolute;
    bottom: .6rem;
    left: 50%;
    transform: translateX(-50%);
}

div#slide-control span.slide-button {
    display: block;
    width: 1.6rem;
    height: 1.1rem;
    border: .2rem solid var(--white);
    border-radius: .25rem;
    transition: .3s;
    cursor: pointer;
}

div#slide-control span.slide-button:first-child {
    background-color: var(--white);
}

div#content-projeto h3 {
    color: var(--texto1);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -.03rem;
    margin: 1.4rem auto 0 auto;
    width: 23.7rem;
}

div#content-projeto p {
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2.6rem;
}

div#content-projeto div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    height: 11.9rem;
    padding: 1.6rem;
    border: .2rem solid var(--borda);
    margin: .5rem auto 0 auto;
    width: 23.7rem;
}

div#content-projeto div svg {
    width: 3rem;
    height: auto;
    margin-right: 2.7rem;
}

div#content-projeto div svg:nth-child(4n) {
    margin-right: 0;
}

div#btn-projeto {
    display: flex;
    width: 100%;
    margin-top: 2.3rem;
}

div#btn-projeto a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-top: .2rem solid var(--borda);

    position: relative;
}

div#btn-projeto a:nth-child(1)::after {
    content: '';
    height: 100%;
    width: .2rem;
    background-color: var(--borda);

    position: absolute;
    top: 0;
    left: calc(100% + .1rem); /*0.1 é referente a metade da border-top do botão assim ele fica exatamente no meio*/
}

/* ----- SECTION FORM -- SECTION FORM -- SECTION FORM ----- */

section#contato {
    display: flex;
    flex-direction: column;
    background-color: var(--p3);
}

section#contato form {
    width: 28rem;
    background-color: var(--p2);
    margin: 4.5rem auto 4rem auto;
    border-radius: .5rem;
    border: .2rem solid var(--borda);
    padding: 4rem 1.4rem;
    
    position: relative;
}

form > svg {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
}

div#container-input {
    display: flex;
    flex-direction: column;
    gap: 1.1rem 0;
}

div.box-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    padding: .6rem 1rem;
    background: var(--p3);
    border: .2rem solid var(--borda);
    border-radius: .5rem;
}

div.box-input label {
    display: block;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: -.03rem;
    color: var(--p1);
}

div.box-input input {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
    background-color: transparent;
    border: none;
    outline: none;
}

div#container-mensagem {
    margin-top: 3rem;
}

div#container-mensagem h1 {
    color: var(--p1);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
}

div#container-mensagem textarea {
    display: block;
    width: 100%;
    height: 19rem;
    border-radius: .5rem;
    border: .2rem solid var(--borda);
    background-color: var(--p3);
    resize: none;
    color: var(--white);
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

form button {
    width: 8rem;
    height: 3.5rem;
    border: .2rem solid var(--borda);
    border-radius: .5rem;
    background-color: var(--p3);
    color: var(--p1);
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .2rem;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}