@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: white;
    --black: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: blue;
}

header {
    background-color: #0f1016;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0px 10px;
}

header a#logo {
    display: block;
    width: 45px;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a#logo img {
    width: 100%;
}

header div#menuDrop button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 37px;
    padding: 0 6px;
    display: block;
}

header div#menuDrop button img {
    display: block;
    width: 100%;
    height: 100%;
}

header div#menuDrop ul {
    position: absolute;
    list-style: none;
    top: 100%;
    right: 5%;
}

header div#menuDrop ul li {
    background-color: #0f1016;
    margin-top: 1px;
    position: relative;
}

header div#menuDrop ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    padding-left: 1rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--white);
}

header div#menuDrop ul li:nth-child(1) a::before {
    content: url(svg/question-icon-002.svg);
    position: absolute;
    left: 12%;
    top: 55%;
    transform: translateY(-50%);
}

header div#menuDrop ul li:nth-child(2) a::before {
    content: url(svg/bar-chart-icon-001.svg);
    position: absolute;
    left: 27%;
    top: 55%;
    transform: translateY(-50%);
}

header div#menuDrop ul li:nth-child(3) a::before {
    content: url(svg/email-icon-001.svg);
    position: absolute;
    left: 22%;
    top: 55%;
    transform: translateY(-50%);
}

header div#menuDrop ul li:nth-child(3) a:hover::before {
    color: white;
    fill: white;
}

main {
    margin-top: 3.5rem;
    padding: 10px 11px;
}