@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --Open-Sans: 'Open Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --back-white: #ffffff;
    --color-white: #ffffff;
    --color-black: #000000;
    --cor-principal: #48d4ff;
    --cor-principal-2: #1b85ff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER (LOGO) | HEADER (LOGO) | HEADER (LOGO) | HEADER (LOGO) */

header {
    background-color: var(--back-white);
    height: 50px;
    padding: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.209);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-logo-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9999px;
}

header .dpai-a-logo {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .dpai-a-logo a {
    height: 100%;
}

header .dpai-a-logo a img {
    height: 100%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.091));
}

/* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

header .dpai-search {
    width: 68%;
    position: relative;
}

header .dpai-search input[type="search"] {
    width: 100%;
    height: 38px;
    padding: 4px 9px;
    border-radius: 3px;
    outline: none;
    font-size: 0.95em;
    font-family: var(--Poppins);
    font-weight: 400;
    border: 1px solid #ebebeb;
    color: rgba(126, 124, 124, 0.89);
}

header .dpai-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background-image: url("../img/cancelar-icon.png") ;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    font-size: 1px;
    margin-right: 25px;
}

header .dpai-search input[type="search"]::placeholder {
    font-size: 0.95em;
    color: rgba(0, 0, 0, 0.452);
}

header .dpai-search input[type="search"]:focus {
    font-size: 0.95em;
}

header .dpai-search button {
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    height: 23px;
    width: 23px;
    left: 100%;
    top: 100%;
    transform: translate(-130%, -130%);
}

header .dpai-search button #search-icon {
    color: #8a9097;
    font-size: 23px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

header .dpai-search button #search-icon:hover {
    cursor: pointer;
}

/* NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) */

nav {
    border-top: 1px solid #ebebeb;
    background-color: var(--back-white);
    position: sticky;
    top: 50px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul #show-or-hide-btn { /* Botão "Mostra ou Esconder" do filtro de "Lojas" */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--Poppins);
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 3px;
    padding: 0px 16px 0px 4px;
    background-color: #ebebeb;
    border-bottom: 2px solid var(--cor-principal-2);
    color: black;
    position: relative;
    transition: .2s;
}

nav ul #show-or-hide-btn:hover {
    background-color: var(--cor-principal-2);
    color: var(--color-white);
}

nav ul #show-or-hide-btn:hover #arrow-right {
    color: var(--color-white);
}

nav ul #show-or-hide-btn #arrow-right { /* Flecha ao lado da palavra "Lojas" apontando pra direita */
    color: black;
    position: absolute;
    top: 53%;
    left: 100%;
    transform: translate(-90%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

nav ul li {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    background-color: var(--cor-principal-2);
    color: var(--color-white);
    transition: .2s;
}

nav ul li a {
    color: var(--color-black);
    padding: 0px 4px;
    font-family: var(--Poppins);
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 3px;
}

.active { /*CLASS PARA QUE O FILTRO SELECIONADO, FIQUE ESTILIZADO DE UMA FORMA QUE FIQUE DESTACADO DOS DEMAIS FILTROS */
    background-color: #8a90972d;
    border-bottom: 2px solid var(--cor-principal-2);
}

/* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */

main {
    margin: 25px auto 35px auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 250px;
    min-height: 75vh;
}

main .container-product {
    width: 250px;
    height: 340px;
    transition: .3s;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.309);
}

main .container-product .div-img {
    background-color: var(--back-white);
    height: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

main .container-product .div-img img {
    width: 215px;
    height: 195px;
    object-fit: cover;
}

main .container-product .dpai-p {
    border-top: 1px solid #ebebeb;
    background-color: var(--back-white);
    height: 21%;
    width: 100%;
    padding: 4px 8px;
}

main .container-product .dpai-p p {
    color: var(--color-black);
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 15.9px;
}

main .container-product .dpai-p .description-product {
    display: none;
}

main .container-product .dpai-a-btn {
    height: 13%;
    background-color: var(--cor-principal-2);
    border-radius: 0px 0px 5px 5px;
    transition: .3s;
}

main .container-product .dpai-a-btn:hover {
    background-color: #1a74db;
    text-decoration: underline;
}

main .container-product .dpai-a-btn a {
    font-size: 0.9em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Open-Sans);
    font-weight: 600;
}

/* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

footer {
    background-color: var(--back-white);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container-footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
}

footer .container-footer .dpai-img-p {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    border-right: 1px solid rgba(126, 124, 124, 0.89);
    padding: 0px 4px;
}

footer .container-footer .dpai-img-p img {
    height: 41%;
    object-fit: cover;
}

footer .container-footer .dpai-img-p p {
    color: rgba(145, 141, 141, 0.89);
    font-size: 0.6em;
    text-align: center;
}

footer .container-footer .container-social {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .container-footer .container-social .kid-container-social {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container-footer .container-social .kid-container-social .dpai-social-p {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer .container-footer .container-social .kid-container-social .dpai-social-p p {
    color: rgba(0, 0, 0, 0.849);
    font-size: 0.97em;
    font-family: var(--Open-Sans);
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

footer .container-footer .container-social .kid-container-social .dpai-social-a-icons {
    height: 60%;
    display: flex;
    column-gap: 8px;
}

footer .container-footer .container-social .kid-container-social .dpai-social-a-icons a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container-footer .container-social .kid-container-social .dpai-social-a-icons a img {
    width: 28px;
}

footer .container-footer .container-social .dpai-p-email {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container-footer .container-social .dpai-p-email p {
    color: rgba(145, 141, 141, 0.89);
    font-size: 0.7em;
}