@media (min-width: 420px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header .container-logo-search {
        width: 9999px;
    }

    /* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

    footer .container-footer .dpai-img-p {
        width: 36%;
    }

    footer .container-footer .container-social {
        width: 64%;
    }

}

@media (min-width: 481px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header {
        height: 55px;
    }
    
    header .dpai-a-logo {
        height: 42px;
    }

    /* NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) */

    nav {
        top: 55px;
        height: 29px;
    }

    nav ul #show-or-hide-btn { /* Botão "Mostra ou Esconder" do filtro de "Lojas" */
        font-size: 0.95em;
    }

    nav ul li a {
        font-size: 0.95em;
    }

    /* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

    footer .container-footer .dpai-img-p {
        width: 34%;
    }

    footer .container-footer .container-social {
        width: 76%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    footer .container-footer .container-social .kid-container-social {
        height: 100%;
    }

    footer .container-footer .container-social .kid-container-social .dpai-social-p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
    }

    footer .container-footer .container-social .kid-container-social .dpai-social-a-icons {
        height: 40%;
    }

    footer .container-footer .container-social .dpai-p-email {
        height: 100%;
    }

}

@media (min-width: 600px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header {
        height: 60px;
    }

    header .dpai-a-logo {
        height: 45px;
    }

    /* NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) */

    nav {
        top: 60px;
        height: 30px;
    }

    nav ul #show-or-hide-btn { /* Botão "Mostra ou Esconder" do filtro de "Lojas" */
        font-size: 1em;
    }

    nav ul li a {
        font-size: 1em;
    }

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */
    
    main {
        column-gap: 20px;
        row-gap: 30px;
        width: 520px;
    }

    /* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

    footer .container-footer {   
        height: 70px;
    }
    
    footer .container-footer .container-social {
        column-gap: 20px;
        justify-content: start;
        align-items: center;
        padding-left: 30px;
    }

    footer .container-footer .container-social .kid-container-social .dpai-social-p {
        height: 40%;
    }

    footer .container-footer .container-social .kid-container-social a img {
        width: 25px;
    }

}

@media (min-width: 768px) {

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */
    
    main {
        row-gap: 37px;
        column-gap: 23px;
        width: 736px;
    }

    main .container-product {
        width: 230px;
        height: 330px;
    }

    main .container-product .div-img img {
        width: 190px;
        height: 190px;
    }

    /* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

    footer .container-footer .dpai-img-p {
        width: 40%;
    }

    footer .container-footer .container-social {
        width: 60%;
    }

    footer .container-footer .container-social .dpai-p-email p {
        font-size: 0.7em;
    }

}

@media (min-width: 900px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header {
        height: 65px;
    }
    
    header .dpai-a-logo {
        height: 45px;
    }

    /* NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) */

    nav {
        top: 65px;
        height: 31px;
    }

    nav ul #show-or-hide-btn { /* Botão "Mostra ou Esconder" do filtro de "Lojas" */
        font-size: 1.06em;
    }

    nav ul li a {
        font-size: 1.06em;
    }

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */
    
    main {
        row-gap: 40px;
        column-gap: 25px;
        width: 860px;
    }

    main .container-product {
        width: 270px;
        height: 370px;
    }

    main .container-product .div-img img {
        width: 230px;
        height: 210px;
    }

    main .container-product .dpai-p p {
        line-height: 17px;
    }

    /* FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) | FOOTER (LOGO-SOCIAL) */

    footer .container-footer .dpai-img-p img {
        height: 50%;
    }
    
}

@media (min-width: 991px) {

    body {
        background-color: #ebebeb;
    }

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */

    main {
        row-gap: 30px;
        column-gap: 20px;
        width: 920px;
    }

    main .container-product {
        width: 215px;
        height: 340px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.109);
    }
    
    main .container-product .div-img img  {
        width: 185px;
        height: 195px;
    }
    
    main .container-product .dpai-p p {
        line-height: 15.9px;
    }

}

@media (min-width: 1200px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header {
        height: 67px;
    }

    header .container-logo-search {
        width: 1320px;
    }
    
    header .dpai-a-logo  {
        height: 47px;
    }

    /* NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) | NAV (FILTROS) */

    nav {
        top: 67px;
        height: 32px;
    }

    nav ul #show-or-hide-btn { /* Botão "Mostra ou Esconder" do filtro de "Lojas" */
        font-size: 1.08em;
    }

    nav ul li a {
        font-size: 1.08em;
    }

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */

    main {
        row-gap: 40px;
        column-gap: 20px;
        width: 1155px;
    }

    main .container-product .div-img img {
        width: 185px;
        height: 200px;
    }
    
}

@media (min-width: 1700px) {

    /* HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) | HEADER (BARRA DE BUSCA) */

    header .container-logo-search {
        width: 1575px;
    }

    /* MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) | MAIN (PRODUTOS) */

    main {
        row-gap: 45px;
        column-gap: 30px;
        width: 1370px;
    }

    main .container-product {
        width: 250px;
        height: 370px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165);
    }

    main .container-product .div-img img {
        width: 220px;
        height: 215px;
    }

    main .container-product .dpai-p p {
        line-height: 17px;
    }

}